body {
  font-family: "Menlo", "Monaco", monospace;
  background: #1B1C21;
  color: #aaa;
  font-size: 14px;
  line-height: 1.5;
  margin: 1.5em;
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
    margin: 3em;
  }
}

h1, h2, h3, h4, h5, h6, footer {
  padding-top: 2em;
  margin: 2em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  color: white;
}

h1:first-of-type {
  padding-top: 0;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 36em;
}

h1,
h2 {
  text-transform: uppercase;
}

p {
  margin: 1em 0;
}

pre,
code {
  background: #101113;
  border-radius: 0.2em;
  color: #aaa;
}

pre {
  box-sizing: border-box;
  padding: 0.75em 2em 0.75em 1em;
  overflow: auto;
  width: max-content;
  max-width: 100%;
}

pre code {
  padding: 0;
}

code {
  padding: 0.15em;
  text-transform: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}

ul ul {
  margin-left: 1.5em;
  margin-top: 0;
}

ul li {
  margin: 0.25em 0;
}

ul li::before {
  content: "-";
  margin-right: 0.5em;
}

nav li::before {
  margin: 0;
  content: "";
}

a {
  text-decoration: none;
  color: skyblue;
}

details summary:hover,
a:hover {
  color: white;
}

table {
  border-collapse: collapse;
  font-size: 0.875em;
  margin: 2em 0;
}

td, th {
  padding: 0.5em 0.75em;
  border: 2px #42474f solid;
  vertical-align: top;
  max-width: 40em;
}

th {
  text-align: left;
  font-weight: normal;
  color: white;
}

.hljs {
  background: none;
  padding: 0;
}

details summary {
  cursor: pointer;
}

@media (min-width: 800px) {
  .columns {
    display: flex;
  }

  .columns .sidebar,
  .columns .main {
    flex: auto;
  }

  .columns .sidebar {
    min-width: max-content;
    max-width: max-content;
    margin-right: 4em;
  }

  .columns nav {
    position: sticky;
    top: 0;
  }
}
