    <footer>
      <p>
        Happy coding!
        ♥
        <a href="https://internetfriendsforever.com" target="_blank" rel="noopener noreferrer">
          internetfriendsforever
        </a>
      </p>
      <p>
        Supported by funding from
        <a href="https://www.grafill.no/" target="_blank" rel="noopener noreferrer">
          Grafill
        </a>
      </p>
    </footer>

    <script src="/assets/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
  </body>
</html>
