<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Permutable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/highlight/dracula.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>