span,
div,
canvas,
table,
button,
tbody,
tr,
th,
td {
  background: unset;
  border: unset;
  box-sizing: border-box;
  clear: unset;
  color: unset;
  cursor: unset;
  filter: unset;
  float: unset;
  font: unset;
  height: unset;
  letter-spacing: unset;
  line-height: unset;
  margin: unset;
  max-height: unset;
  max-width: unset;
  min-height: unset;
  min-width: unset;
  outline: unset;
  overflow: unset;
  padding: unset;
  position: unset;
  text-align: unset;
  text-transform: unset;
  transform: unset;
  width: unset;
  z-index: unset;
}

span {
  display: inline;
}

div,
canvas {
  display: block;
}

table {
  display: table;
  border-collapse: collapse;
}

tr {
  display: table-row;
}

thead,
tbody {
  display: table-row-group;
}

th, td {
  display: table-cell;
}

.permutable {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Menlo", "Monaco", monospace;
  margin: 0;
  color: #aaa;
  user-select: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  position: relative;
}

button {
  cursor: pointer;
  white-space: nowrap;
  text-align: left;
  background: #222;
  color: #aaa;
}

button:hover {
  background: #333;
  color: white;
}

button:active {
  background: #111;
}

button:disabled,
button:disabled:hover {
  cursor: default;
  color: #444;
  background: #222;
  text-decoration: line-through;
}

button.active {
  background: #ccc;
  color: #222;

  :hover {
    background: white;
    color: black;
  }

  :active {
    background: #aaa;
  }
}

.params .midi {
  display: block;
  margin: 0;
  padding: 0 0.4rem;
  line-height: inherit;
}

.param {
  line-height: 1.8rem;
}

.file.param .flex {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.file.param .flex .name {
  margin-right: 1em;
}

.file.param .flex input {
  max-width: 20em;
}

.timer.param .name {
  position: relative;
  padding: 0 0.5rem;
}

.timer.param .value {
  padding: 0 0.4rem;
  position: relative;
  width: 1%;
  text-align: right;
}

.timer.param .value span {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0); }
  from { transform: rotate(-360deg); }
}

.bpm.param .name {
  position: relative;
  padding: 0 0.5rem;
}

.bpm.param .value {
  position: relative;
  padding: 0 0.4rem;
  min-width: 3.5em;
  text-align: right;
}

.bpm.param .buttons {
  display: flex;
  padding: 0;
}

.bpm.param .buttons button {
  margin: 0;
  padding: 0 0.4rem;
  line-height: inherit;
}

.number.param .slider {
  position: relative;
  flex: auto;
  cursor: ew-resize;
  padding: 0 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  border-left: 1px solid #ddd;
}

.number.param .indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: white;
  mix-blend-mode: difference;
}

.number.param .name {
  position: relative;
}

.number.param .value {
  position: relative;
  padding: 0 0.4rem;
  width: 1%;
  text-align: right;
}

.number.param .input {
  width: 1%;
  padding: 0;
}

.toggle.param .name,
.trigger.param .name {
  position: relative;
  padding: 0;
}

.toggle.param .button,
.trigger.param .button {
  display: block;
  padding: 0 0.5rem;
  width: 100%;
}

.toggle.param .value,
.trigger.param .value {
  position: relative;
  padding: 0 0.4rem;
  width: 1%;
  text-align: right;
}

.toggle.param .input,
.trigger.param .input {
  width: 1%;
  padding: 0;
}

.camera.param .name {
  position: relative;
  padding: 0 0.5rem;
}

.camera.param .video {
  padding: 0 0.5rem;
}

.camera.param .video video {
  width: 2em;
  height: 2em;
}

.run .params {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 200px;
}

.run canvas {
  width: 100%;
  height: 100%;
}

.mix {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  border: 2px #aaa solid;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background: black;
  overflow: auto;
}

.mix .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px #aaa solid;
}

.mix .panel:last-child {
  border-right: 0;
}

.mix .panel .heading {
  flex-grow: 0;
  display: flex;
  border-bottom: 2px #aaa solid;
}

.mix .panel .heading h2 {
  flex: auto;
  font-size: 1em;
  font-weight: normal;
  padding: 0.8rem;
  margin: 0;
}

.mix .panel .heading button {
  padding: 0 1rem;
  border-left: 2px #aaa solid;
}

.mix .panel .content {
  flex: 1;
  overflow: auto;
}

.mix .panel.programs,
.mix .panel.master {
  flex: 0;
}

.mix .panel.programs button {
  width: 100%;
  padding: 0.8rem;
  border-bottom: 2px #aaa solid;
}

.mix .panel.channels table {
  width: 100%;
  border-collapse: collapse;
}

.mix .panel.master canvas {
  padding: 0.35rem;
}

.mix .panel.master .params {
  border-collapse: collapse;
  margin: 0 0.35rem;
}

.mix .channel {
  border-bottom: 2px #aaa solid;
}

.mix .channel td {
  vertical-align: top;
}

.mix .channel .title {
  padding: 0.7rem;
  width: 1%;
}

.mix .channel .params {
  padding: 0.4rem;
}

.mix .channel .params.compose {
  border-left: 2px #ccc solid;
}

.mix .channel .canvas {
  position: relative;
  width: 1%;
  padding: 0.35rem;
}

.mix .channel .remove-button {
  position: absolute;
  top: 0.35rem;
  right: 0.35rem;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
}
